body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #dashboard, #manageCenters {
    margin-bottom: 30px;
  }
  
  #summary {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
  }
  
  #addCenterForm {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #centersList {
    width: 100%;
    border-collapse: collapse;
  }
  
  #centersList th {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  #centersList td, #centersList th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #centersList button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  #centersList button:hover {
    background-color: #45a049;
  }
  
  #centerFormBtn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #centerFormBtn:hover {
    background-color: #45a049;
  }
  